.navbar-logo {
  height: 100%;
  padding: .75rem 1rem;
  cursor: pointer;
}

.center-content {
  display: flex;
  min-height: calc(100vh - 118px);
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem .5rem;
}